* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary-clr: rgb(68, 80, 105);    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: var(--primary-clr);
    color: white;
    padding: 32px 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 16px;
}
.section-01 {
    padding: 32px;
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.section-01 p {
    font-size: 16px;
    margin-bottom: 24px;
}
.subtitle {
    text-align: center;
    font-size: 16px;
    color: #1e2023;
    margin-bottom: 16px;
}
.collection-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 300px;
    gap: 1rem;
    margin: 48px 0;
    
}

.collection-card {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: gray;
    padding: 16px;
}

.collection-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    flex-grow: 1;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.collection-card .details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    font-style: italic;
}

.collection-card .description {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
}
@media (width >= 480px) {
    .collection-card {
        flex-basis: 40%;
    }
    
 }
 @media (width >= 1024px) {
    .collection-card {
        flex-basis: 30%;
    }
 }
 .navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
 }
 .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 .navbar a:hover{
    background-color: hsl(0, 0%, 10%);
    transform: translateY(-4px);
    box-shadow: 0 8px 16px white;
 }
 .navbar li{
    float: left;
 }
 footer {
    background-color: gray;
    text-align: left;
    padding: 10px;
    margin-top: auto;
 } 
 .note {
    font-style: italic;
    font-size: 12px;
    padding: 10px
 }
